[Unit]
Description=Aquila AI Backend
After=network.target

[Service]
User=root
WorkingDirectory=/root/aquila-backend
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target
